.container {
  margin-top: 15%;
  margin-left: 30%;
  width: 50%;
}
  p {
    font-size: 36px;
    text-align: center;
    color: tomato
  }

  .progress-line-outer {
    display: flex;
    margin: 15px auto;
  }
  
  .progress-line-label {
    color: wheat;
    font-size: 15px;
  }

@media (min-width: 992px){
   .container {
        margin-top: 60px;
    }
}